/ApiInterceptor/.idea/
/ApiInterceptor/Maxbeauchemin.Api.Interceptor/bin/
/ApiInterceptor/Maxbeauchemin.Api.Interceptor/.bin/
/ApiInterceptor/ApiInterceptor.Tests/.bin/
/ApiInterceptor/ApiInterceptor.Tests/bin/
/ApiInterceptor/ApiInterceptor.SampleApi/.bin/
/ApiInterceptor/ApiInterceptor.SampleApi/bin/
/ApiInterceptor/Maxbeauchemin.Api.Interceptor/obj/
/ApiInterceptor/ApiInterceptor.Tests/obj/
/ApiInterceptor/ApiInterceptor.SampleApi/obj/
/ApiInterceptor/ApiInterceptor.sln.DotSettings.user
/.vs
/ApiInterceptor/.vs
